<!DOCTYPE html>
<style>
  header {
    background-color: #3264b0;
  }
  a {
    color: white;
  }
  a:hover {
    color: lightgray;
  }
</style>
<header>
  <nav class="navbar navbar-expand-lg customnavbg">
    <div class="collapse navbar-collapse flex-column">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pokemon">Pokémon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/moves">Moves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/types">Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/casus">Casus</a>
          </li>
        </ul>
        <ul class="navbar-nav right">
          <li *ngIf="(loggedInUser$ | async) === undefined" class="nav-item">
            <a
              class="nav-link"
              routerLink="/register"
              [routerLinkActive]="['active']"
              >Register</a
            >
          </li>
          <li *ngIf="(loggedInUser$ | async) === undefined" class="nav-item">
            <a
              class="nav-link"
              routerLink="/login"
              [routerLinkActive]="['active']"
              >Login</a
            >
          </li>
          <div *ngIf="loggedInUser$ | async as user" ngbDropdown class="d-inline-block">
            <a class="nav-link" id="profile" ngbDropdownToggle>
              {{ user.name }}
            </a>
            <div ngbDropdownMenu aria-labelledby="profie">
              <button ngbDropdownItem>Profile</button>
              <button ngbDropdownItem (click)="logout()">Log Out</button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
